[run]

omit =
    */visualization/*
    */display/*
    */drawing/*
    */latex/*
    */render/*
    */plotting/*
    
    */__init__.py   
    */test/*
    */tests/*
    */legacy/*
    */deprecated/*
    
    */setup.py