name: QuteFuzz CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Setup Script
        run: |
          chmod +x scripts/setup/setup_deps.sh
          ./scripts/setup/setup_deps.sh

      - name: Linting (Ruff & Pyright) for Python only (C++ later)
        run: |
          # Check for linting errors
          uv run ruff check .
          # Check for formatting issues (optional, remove if you don't enforce formatting)
          uv run ruff format --check .
          # Run static type checking
          uv run pyright

      - name: Run CI Pipeline
        run: uv run scripts/run.py --num-tests 5 # 5 programs per grammar
